page-login {

    #tudo{
       // background-color: #ffd07a;
        
        background-image: linear-gradient(red, yellow);
        height: 100%;
    }

    #pikachu{
        padding-top: 10%;
    }
    h3{
        padding-left: 33%;
    }
    #textlogin{
        padding-left: 10%;
        padding-right: 10%;
    }
    #botaologin{
        padding-left: 10%;
        padding-right: 10%;
    }
}
